<!doctype html>
<html>

<head>
    <title>Learn Languages by chatting with People around the world</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>


    <div class="wrapper">
        <div class="sidebar">
            <h2>IBMA</h2>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/about"><i class="fas fa-address-card"></i> About</a></li>
                <li><a href="/faq"><i class="fas fa-question"></i> FAQ</a></li>
                <li><a href="/contact"><i class="fas fa-address-book"></i> Contact</a></li>
               
            </ul> 
            <div class="social_media">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="main_content">
            <div class="header">
                <div>Welcome to IBMA</div>
                <div>
                    <a href="/login" class="btn btn-primary"><span
                        class="fa fa-user"></span>Login</a>
                <a href="/signup" class="btn btn-default"><span
                        class="fa fa-user"></span>Signup</a>
                </div>
               </div>  
            <div class="info">
             
                <!-- THIS IS WHERE THE CODE GOES -->






            </div>
        </div>
    </div>





</body>

</html>