<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>IMBA Chatroom</title>
  </head>
  <body>
    <div class="chat-container">
      <header class="chat-header">
        <h1>IMBA Chat</h1>
        <div id="chat-room-name-container">
          <h2 id="room-name"></h2>
          <h2>Chat Room</h2>
        </div>
        <a href="/profile" class="btn">Main Menu</a>
      </header>
      <main class="chat-main">
        <div class="chat-sidebar">
          <h3>Users</h3>
          <ul id="users"></ul>
        </div>
        <div class="chat-messages">
       

          <% for(var i=0; i<messages.length; i++) {%>
            <div class="message">
              <p class="meta"> <%= messages[i].userName %><span><%= messages[i].time %> </span></p>
              <p class="text">
                <%= messages[i].text %>
              </p>
            </div> 
            <% } %>


           



    



        </div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form">
          <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button class="btn">Send</button>
        </form>
      </div>
        <div class="videoFrame">
    <iframe src=https://tokbox.com/embed/embed/ot-embed.js?embedId=8fd202f4-9d4a-4b7c-9ee6-ad32909e78f0&room=<%= roomId %>&iframe=true" width="800px" height="640px" scrolling="auto" allow="microphone; camera" ></iframe>
        </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
  </body>
</html>
