<!DOCTYPE html>
<html>
  <head>
    <title>Learn Languages by chatting with People around the world</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="sidebar">
        <h2>IBMA</h2>
        <ul>
          <li>
            <a href="/"><i class="fas fa-home"></i> Home</a>
          </li>
          <li>
            <a href="/about"><i class="fas fa-address-card"></i> About</a>
          </li>
          <li>
            <a href="/faq"><i class="fas fa-question"></i> FAQ</a>
          </li>
          <li>
            <a href="/contact"><i class="fas fa-address-book"></i> Contact</a>
          </li>
          <li>
            <a href="/profile"><i class="fas fa-address-book"></i> Profile Page</a>
          </li>
        </ul>
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="main_content">
        <div class="header">
          <div>Welcome to IBMA</div>
          <div>
            <a href="/login" class="btn btn-primary"
              ><span class="fa fa-user"></span>Login</a
            >
            <a href="/signup" class="btn btn-default"
              ><span class="fa fa-user"></span>Signup</a
            >
          </div>
        </div>
        <div class="info">
          <div class="container contact">
            <div class="row">
              <div class="col-md-3">
                <div class="contact-info">
                  <img
                    src="https://image.ibb.co/kUASdV/contact-image.png"
                    alt="image"
                  />
                  <h2>Contact Us</h2>
                  <h4>We would love to hear from you !</h4>
                </div>
              </div>
              <div class="col-md-9">
                <div class="contact-form">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="fname"
                      >First Name:</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="fname"
                        placeholder="Enter First Name"
                        name="fname"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="lname"
                      >Last Name:</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="lname"
                        placeholder="Enter Last Name"
                        name="lname"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email"
                      >Email:</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Enter email"
                        name="email"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="comment"
                      >Comment:</label
                    >
                    <div class="col-sm-10">
                      <textarea
                        class="form-control"
                        rows="5"
                        id="comment"
                      ></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
