<!DOCTYPE html>
<html>
  <head>
    <title>Learn Languages by chatting with People around the world</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="sidebar">
        <h2>IBMA</h2>
        <ul>
          <li>
            <a href="/"><i class="fas fa-home"></i> Home</a>
          </li>
          <li>
            <a href="/about"><i class="fas fa-address-card"></i> About</a>
          </li>
          <li>
            <a href="/faq"><i class="fas fa-question"></i> FAQ</a>
          </li>
          <li>
            <a href="/contact"><i class="fas fa-address-book"></i> Contact</a>
          </li>
        </ul>
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="main_content">
        <div class="header">
          <div>Welcome to IBMA</div>
          <div>
            <a href="/login" class="btn btn-primary"
              ><span class="fa fa-user"></span>Login</a
            >
            <a href="/signup" class="btn btn-default"
              ><span class="fa fa-user"></span>Signup</a
            >
          </div>
        </div>
        <div class="info">
          <img
            class="banner"
            src="https://kellysthoughtsonthings.com/wp-content/uploads/2015/07/babbelbanner.png"
            alt=""
          />

          <div class="container">
            <div class="panel-group" id="faqAccordion">
              <div class="panel panel-default">
                <div
                  class="panel-heading accordion-toggle question-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#faqAccordion"
                  data-target="#question0"
                >
                  <h4 class="panel-title">
                    <a href="#" class="ing">Q: What is IBMA Chat App</a>
                  </h4>
                </div>
                <div
                  id="question0"
                  class="panel-collapse collapse"
                  style="height: 0px"
                >
                  <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>

                    <p>
                      IBMA Chat App is a platform that lets you Learn Languages
                      anywhere. You can connect with other people around the
                      world and start speaking in your target language that you
                      are learning. After signing up, you can join any room and
                      start speaking with those in the room.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div
                  class="panel-heading accordion-toggle collapsed question-toggle"
                  data-toggle="collapse"
                  data-parent="#faqAccordion"
                  data-target="#question1"
                >
                  <h4 class="panel-title">
                    <a href="#" class="ing"
                      >Q: Is IBMA free or subscribtion based?</a
                    >
                  </h4>
                </div>
                <div
                  id="question1"
                  class="panel-collapse collapse"
                  style="height: 0px"
                >
                  <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                      IBMA is currently free for everyone. Please enjoy using
                      our app
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div
                  class="panel-heading accordion-toggle collapsed question-toggle"
                  data-toggle="collapse"
                  data-parent="#faqAccordion"
                  data-target="#question2"
                >
                  <h4 class="panel-title">
                    <a href="#" class="ing"
                      >Q: Do I have to speak only one language in the rooms? Can
                      I speak in my mother tongue</a
                    >
                  </h4>
                </div>
                <div
                  id="question2"
                  class="panel-collapse collapse"
                  style="height: 0px"
                >
                  <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                      Everyone is at different levels. If you dont know how to
                      say something, please feel free to ask in your mother
                      tongue how to say something. But try your best to speak
                      only the specific language for that room.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div
                  class="panel-heading accordion-toggle collapsed question-toggle"
                  data-toggle="collapse"
                  data-parent="#faqAccordion"
                  data-target="#question3"
                >
                  <h4 class="panel-title">
                    <a href="#" class="ing"
                      >Q: What is the best way to use this platform and learn a
                      new language</a
                    >
                  </h4>
                </div>
                <div
                  id="question3"
                  class="panel-collapse collapse"
                  style="height: 0px"
                >
                  <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                      The best way to use this platform is to engage in your
                      target Languages room and speak daily or on a consistent
                      basis. If you can try not to use your mother tongue, and
                      also use a dictionary for any words that you do not know.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--/panel-group-->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
