<!DOCTYPE html>
<html style="font-size: 16px">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="Chat with Us" />
    <meta name="description" content="" />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />
    <title>IBMA Homepage</title>
    <link rel="stylesheet" href="/css/icons.css" media="screen" />
    <link rel="stylesheet" href="/css/index.css" media="screen" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    />
  </head>
  <body
    data-home-page="index.ejs"
    data-home-page-title="Homepage"
    class="u-body"
  >
    <section
      class="skrollable u-align-center u-clearfix u-image u-shading u-section-1"
      id="sec-46c6"
      data-image-width="1980"
      data-image-height="806"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-1">
          Learn&nbsp;Languages&nbsp;by&nbsp;chatting&nbsp;with&nbsp;People&nbsp;around&nbsp;the&nbsp;world<br />
        </h1>
        <p class="u-text u-text-grey-10 u-text-2">
          The best time spent learning is chatting and getting to know new
          people. Learn more about&nbsp;<a
            href="/"
            class="u-active-none u-border-1 u-border-white u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
            >IBMA</a
          >
        </p>
        <div class="u-expanded-width u-list u-repeater u-list-1">
          <div
            class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1"
          >
            <div
              class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
            >
              <span
                class="u-icon u-icon-circle u-palette-2-base u-spacing-31 u-icon-1"
              >
                <img src="/img/sign-up.svg" alt="" />
              </span>
              <h3
                class="u-align-center-sm u-text u-text-palette-2-base u-text-3"
              >
                <a href="/signup" class="btn btn-default"
                  ><span class="fa fa-user"></span>Sign Up</a
                >
              </h3>
              <p class="u-text u-text-4">Join our friendly community!</p>
            </div>
          </div>
          <div
            class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-2"
          >
            <div
              class="u-container-layout u-similar-container u-valign-top u-container-layout-2"
            >
              <span
                class="u-icon u-icon-circle u-palette-2-base u-spacing-31 u-icon-2"
              >
                <img src="/img/login.svg" alt="" />
              </span>
              <h3
                class="u-align-center-sm u-text u-text-palette-2-base u-text-5"
              >
                <a href="/login" class="btn btn-default"
                  ><span class="fa fa-user"></span>Login</a
                >
              </h3>
              <p class="u-text u-text-6">Welcome back!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer
      class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
      id="sec-9a05"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">
          @IBMA 2021<br />
        </p>
      </div>
    </footer>
  </body>
</html>
