* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 150px;
}
.row {
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px black;
}
.img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.login-btn {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
}
.col-lg-7 h4 {
  margin-left: 45px;
}
